<a href="https://colab.research.google.com/github/sitirahmalatuconsina19/sitirahma_Datamining/blob/main/NauveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.naive_bayes import GaussianNB

In [2]:
data = pd.read_csv("/content/jabodetabek_house_price.csv")
data.head()

,url,price_in_rp,title,address,district,city,lat,long,facilities,property_type,...,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
0,https://www.rumah123.com/properti/bekasi/hos11...,2.990000e+09,Rumah cantik Sumarecon Bekasi\nLingkungan asri...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Tempat Jemuran, Jalur Telepon, Taman, Taman",rumah,...,4400 mah,0.0,1.0,2.0,5.0,2017.0,bagus,NaN,0.0,unfurnished
1,https://www.rumah123.com/properti/bekasi/hos10...,1.270000e+09,"Rumah Kekinian, Magenta Summarecon Bekasi","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,Taman,rumah,...,2200 mah,0.0,0.0,2.0,NaN,NaN,bagus,NaN,0.0,NaN
2,https://www.rumah123.com/properti/bekasi/hos10...,1.950000e+09,Rumah Cantik 2 Lantai Cluster Bluebell Summare...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jogging Track, Kolam Renang, Masjid, Taman,...",rumah,...,2200 mah,1.0,1.0,2.0,NaN,NaN,bagus,NaN,1.0,unfurnished
3,https://www.rumah123.com/properti/bekasi/hos10...,3.300000e+09,Rumah Mewah 2Lantai L10x18 C di Cluster VERNON...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jalur Telepon, Jogging Track, Track Lari, K...",rumah,...,3500 mah,1.0,1.0,2.0,6.0,2016.0,bagus sekali,utara,2.0,unfurnished
4,https://www.rumah123.com/properti/bekasi/hos10...,4.500000e+09,"Rumah Hoek di Cluster Maple Summarecon Bekasi,...","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jogging Track, Kolam Renang, Taman, Jalur Te...",rumah,...,3500 mah,1.0,1.0,2.0,9.0,2013.0,bagus,utara,1.0,unfurnished

In [3]:
print(data.isnull().sum())

url                        0
price_in_rp                0
title                      0
address                    0
district                   0
city                       0
lat                        0
long                       0
facilities                 0
property_type              1
ads_id                     4
bedrooms                  34
bathrooms                 29
land_size_m2               2
building_size_m2           2
carports                   0
certificate              141
electricity                0
maid_bedrooms              0
maid_bathrooms             0
floors                     6
building_age            1445
year_built              1445
property_condition       246
building_orientation    1647
garages                    0
furnishing               387
dtype: int64

In [4]:
data = data.fillna(data.mean())

<ipython-input-4-369509bb1069>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data = data.fillna(data.mean())

In [5]:
print(data.isnull().sum())

url                        0
price_in_rp                0
title                      0
address                    0
district                   0
city                       0
lat                        0
long                       0
facilities                 0
property_type              1
ads_id                     4
bedrooms                   0
bathrooms                  0
land_size_m2               0
building_size_m2           0
carports                   0
certificate              141
electricity                0
maid_bedrooms              0
maid_bathrooms             0
floors                     0
building_age               0
year_built                 0
property_condition       246
building_orientation    1647
garages                    0
furnishing               387
dtype: int64

In [22]:
data['property_condition'].fillna('Unknown', inplace=True)
data['building_orientation'].fillna('Unknown', inplace=True)
data['furnishing'].fillna('Unknown', inplace=True)

In [23]:
print(data.isnull().sum())

url                     0
price_in_rp             0
title                   0
address                 0
district                0
city                    0
lat                     0
long                    0
facilities              0
property_type           0
ads_id                  0
bedrooms                0
bathrooms               0
land_size_m2            0
building_size_m2        0
carports                0
certificate             0
electricity             0
maid_bedrooms           0
maid_bathrooms          0
floors                  0
building_age            0
year_built              0
property_condition      0
building_orientation    0
garages                 0
furnishing              0
dtype: int64

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   3553 non-null   object
 1   price_in_rp           3553 non-null   float64
 2   title                 3553 non-null   object
 3   address               3553 non-null   object
 4   district              3553 non-null   object
 5   city                  3553 non-null   object
 6   lat                   3553 non-null   float64
 7   long                  3553 non-null   float64
 8   facilities            3553 non-null   object
 9   property_type         3553 non-null   object
 10  ads_id                3553 non-null   object
 11  bedrooms              3553 non-null   float64
 12  bathrooms             3553 non-null   float64
 13  land_size_m2          3553 non-null   float64
 14  building_size_m2      3553 non-null   float64
 15  carports              3553 non-null   float64
 16  certificate           3553 non-null   object
 17  electricity           3553 non-null   object
 18  maid_bedrooms         3553 non-null   float64
 19  maid_bathrooms        3553 non-null   float64
 20  floors                3553 non-null   float64
 21  building_age          3553 non-null   float64
 22  year_built            3553 non-null   float64
 23  property_condition    3553 non-null   object
 24  building_orientation  3553 non-null   object
 25  garages               3553 non-null   float64
 26  furnishing            3553 non-null   object
dtypes: float64(14), object(13)
memory usage: 749.6+ KB

In [25]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [26]:
for column in data:
  if data[column].dtypes == object:
    data[column] = enc.fit_transform(data[column])

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   3553 non-null   int64
 1   price_in_rp           3553 non-null   float64
 2   title                 3553 non-null   int64
 3   address               3553 non-null   int64
 4   district              3553 non-null   int64
 5   city                  3553 non-null   int64
 6   lat                   3553 non-null   float64
 7   long                  3553 non-null   float64
 8   facilities            3553 non-null   int64
 9   property_type         3553 non-null   int64
 10  ads_id                3553 non-null   int64
 11  bedrooms              3553 non-null   float64
 12  bathrooms             3553 non-null   float64
 13  land_size_m2          3553 non-null   float64
 14  building_size_m2      3553 non-null   float64
 15  carports              3553 non-null   float64
 16  certificate           3553 non-null   int64
 17  electricity           3553 non-null   int64
 18  maid_bedrooms         3553 non-null   float64
 19  maid_bathrooms        3553 non-null   float64
 20  floors                3553 non-null   float64
 21  building_age          3553 non-null   float64
 22  year_built            3553 non-null   float64
 23  property_condition    3553 non-null   int64
 24  building_orientation  3553 non-null   int64
 25  garages               3553 non-null   float64
 26  furnishing            3553 non-null   int64
dtypes: float64(14), int64(13)
memory usage: 749.6 KB

In [30]:
trs_data = data.drop(columns='url')
trs_data.head()

,price_in_rp,title,address,district,city,lat,long,facilities,property_type,ads_id,...,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
0,2.990000e+09,2841,355,343,0,-6.223945,106.986275,1836,1,2796,...,18,0.0,1.0,2.0,5.00000,2017.000000,1,0,0.0,4
1,1.270000e+09,1874,355,343,0,-6.223945,106.986275,1394,1,514,...,10,0.0,0.0,2.0,3.88093,2018.137097,1,0,0.0,0
2,1.950000e+09,1581,355,343,0,-6.223945,106.986275,395,1,518,...,10,1.0,1.0,2.0,3.88093,2018.137097,1,0,1.0,4
3,3.300000e+09,1972,355,343,0,-6.223945,106.986275,298,1,848,...,16,1.0,1.0,2.0,6.00000,2016.000000,2,8,2.0,4
4,4.500000e+09,1836,355,343,0,-6.223945,106.986275,399,1,620,...,16,1.0,1.0,2.0,9.00000,2013.000000,1,8,1.0,4

In [40]:
lbl_data = data['property_type']
lbl_data.head()

0    1
1    1
2    1
3    1
4    1
Name: property_type, dtype: int64

In [41]:
x_train,x_test,y_train,y_test=train_test_split(trs_data,lbl_data,test_size=0.9,random_state=500)
classifier = GaussianNB()
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [42]:
print('accuracy of Naive bayes Kontinu classifier on test set: {:.2f}'.format(classifier.score(x_test,y_test)))
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))
hasilpengujian = classification_report(y_test,y_pred)
print(hasilpengujian)

accuracy of Naive bayes Kontinu classifier on test set: 1.00
[[   0    1]
 [   0 3197]]
0.9996873045653534
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       1.00      1.00      1.00      3197

    accuracy                           1.00      3198
   macro avg       0.50      0.50      0.50      3198
weighted avg       1.00      1.00      1.00      3198

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))